@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: url(./archives/bg-desktop.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.conteiner {
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    margin: 0 auto;
    width: 350px;
    max-width: 90vw;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
}

.form {
    padding: 20px;
    text-align: center;   
}

.entrar {
    margin: 20px;
    text-align: center;
}

input{
    padding: 10px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: black;
    padding: 5px;
}
