@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: url(./archives/bg-desktop.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.conteiner {
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    margin: 0 auto;
    width: 350px;
    max-width: 90vw;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.178);
}

.form {
    text-align: center;
    margin: 10px;
}

.form input {
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.295);
    background: none;
}

.entrar {
    text-align: center;
}

.entrar input {
    margin: 20px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.295);
    color: rgba(255, 255, 255, 0.795);
}

.entrar input:hover {
   border: 1px solid rgba(255, 255, 255, 0.281);
   background-color: rgba(211, 211, 211, 0.192);
   transform: translateY(-4px);
   transition: .4s;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
}

input:focus {
    outline: none;
    color: white;
}


input::placeholder {
    color: black;
    text-align: left;
    color: rgb(230, 230, 230);
}

